<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUjn5b-bnffFw4AVRAj-7ierbk1w33VLg</string>
	<key>GCM_SENDER_ID</key>
	<string>149501255980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamnovart.Novart</string>
	<key>PROJECT_ID</key>
	<string>plain-3f185</string>
	<key>STORAGE_BUCKET</key>
	<string>plain-3f185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149501255980:ios:a91a1a11b9636fd1c28c89</string>
</dict>
</plist>